<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juwuhe.dao.FilmMapper">

    <select id="selectFilm"  resultType="com.juwuhe.entity.Film">
        select * from cinema_film
    </select>

    <select id="selectFilmInfo"  resultType="com.juwuhe.entity.Film">
        select * from cinema_film where film_id = #{filmid}
    </select>

</mapper>