<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juwuhe.dao.CinemaPlayMapper">
  <resultMap id="BaseResultMap" type="com.juwuhe.entity.CinemaPlay">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="play_id" jdbcType="VARCHAR" property="playId" />
    <result column="play_time" jdbcType="TIMESTAMP" property="playTime" />
    <result column="lan_type" jdbcType="VARCHAR" property="lanType" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="room_id" jdbcType="VARCHAR" property="roomId" />
    <result column="room_name" jdbcType="VARCHAR" property="roomName" />
    <result column="film_id" jdbcType="VARCHAR" property="filmId" />
    <result column="film_name" jdbcType="VARCHAR" property="filmName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cinema_play
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.juwuhe.entity.CinemaPlay">
    insert into cinema_play (id, play_id, play_time, 
      lan_type, price, room_id, 
      room_name, film_id, film_name
      )
    values (#{id,jdbcType=INTEGER}, #{playId,jdbcType=VARCHAR}, #{playTime,jdbcType=TIMESTAMP}, 
      #{lanType,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{roomId,jdbcType=VARCHAR}, 
      #{roomName,jdbcType=VARCHAR}, #{filmId,jdbcType=VARCHAR}, #{filmName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.juwuhe.entity.CinemaPlay">
    update cinema_play
    set play_id = #{playId,jdbcType=VARCHAR},
      play_time = #{playTime,jdbcType=TIMESTAMP},
      lan_type = #{lanType,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      room_id = #{roomId,jdbcType=VARCHAR},
      room_name = #{roomName,jdbcType=VARCHAR},
      film_id = #{filmId,jdbcType=VARCHAR},
      film_name = #{filmName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, play_id, play_time, lan_type, price, room_id, room_name, film_id, film_name
    from cinema_play
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, play_id, play_time, lan_type, price, room_id, room_name, film_id, film_name
    from cinema_play
  </select>
  <select id="selectByFilmKey" resultMap="BaseResultMap">
    select id, play_id, play_time, lan_type, price, room_id, room_name, film_id, film_name
    from cinema_play
    where film_id = #{film_id}
  </select>
    <select id="selectByPlayID" resultType="com.juwuhe.entity.Paly"></select>
</mapper>