<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juwuhe.dao.UserDao">
    <!--namespace：映射关系；包路径+类名-->
    <!--id属性值必须唯一性，习惯性为类中的方法名，resultType属性指明查询返回的结果集类型，parameterType属性指明查询时使用的参数类型-->
    <select id="selectUserInfo"  resultMap="user">
        select * from user_info
    </select>
    <resultMap id="user" type="com.juwuhe.entity.User">
        <id property="u_id" column="u_id"></id>
        <result property="u_username" column="u_username"></result>
        <result property="u_password" column="u_password"></result>
    </resultMap>

</mapper>